
/* .social-media-icon > img {
    width: 30px;
    height: 30px;
} */
.social-media {
    display: flex;
    flex-direction: row;
} 

.social-media-icon > img {
    width: 34px;
    height: 34px;
    padding: 4px;
    
}
